textarea{
  margin-left: 200px;
  width: 50%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  font-size: 16px;
  resize: none;
}
button.a{
  margin-left: 200px;
}
button.b{
  /* margin-top:100px ; */
  margin-left: 800px;
}
p.a{
  text-indent: 70px;
}